
<button class="button" (click)="onCreatedServer()">
Display Details
</button>

<p *ngIf = "serverCreated; else noServer">The best things about Angular is that it is developed and maintained by Google.<br/>
  As it is backed by a trusted company, trust is well established within the community.<br/>
  Developers believe in the framework and in the fact that it will be maintained,<br/>
  and issues will be resolved, of course withthe help of community contributions. 

</p>
<ng-template #noServer>
    <p>
      Why Angular? Understanding The Top Benefits. <br/>
      <br/>
    </p>
</ng-template>
<p *ngFor = "let server of servers; let i = index"
    [ngStyle]="{backgroundColor: i>=5 ? 'blue' : 'transparent'}"
    [ngClass]="{'online': i>=5}">
  Greetings !!!

</p>

